ROOT=0x...

# Can use either a PK or keystore for sending transactions
PRIVATE_KEY=0x...
ETH_KEYSTORE=path/to/keystore

# Optional seed to plant tendrils with, allows for multiple tendrils for a single root admin
# PLANT_SEED=0x...